.bg-img{
    background-image: url("bg-1.png");
    background-repeat: no-repeat;
    background-position: center;
}
.bg-img2{
    background-image: url("bg-2.png");
    background-repeat: no-repeat;
    background-position: left bottom;
}
.buy-now{
    border: none;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
}
.see{
    color: #FFA617;
    border: none;
    background: none;
}
.items{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 30px;
}
.phone{
    margin-top: 20px;
}
.margin{
    margin-top: 20px;
}
.under{
    text-decoration: underline;
    text-decoration-color: #FFA617;
    text-decoration-thickness: 5px;
}
.left-edge{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 25px;
    border-radius: 0px 20px 0px 20px;
}
.double-edge{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 25px;
    border-radius: 20px 0px 20px 0px;
}
.fill{
    border: 2px black ;
}